.filter {
  &__option {
    cursor: pointer !important;
    color: #1b1b1b !important;
    &--is-focused {
      box-shadow: #333333;
    }
    &--is-selected {
      background: #fff !important;
      color: #de0a26 !important;
    }
  }
}