@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import './scss/Movie';
@import "./scss/mixins";
* {
  padding: 0;
  margin: 0;
  font-family: Nunito;
  letter-spacing: .7px;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #de0a26;
  border-radius: 10px;
}

.white_theme {
  background: #fff;
  color: #1b1b1b;
}
.black_theme {
  background: #1b1b1b;
  color: #fff;
}

.App {
  min-height: 100vh;
  transition: 0.5s;
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    background-color: #1b1b1b;
    border-bottom: 1px solid #808080;
    &_routes {
      display: flex;
      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        cursor: unset;
      }
      li {
        margin: 10px;
        list-style: none;
        cursor: pointer;
        &:hover {
          color: #de0a26;
        }
      }
    }
    &_container {
      display: flex;
      align-items: center;
      width: 1200px;
      justify-content: space-between;
      height: 60px;
      img {
        height: 70px;
      }
    }
  }
  .container {
    max-width: 1200px;
    margin: auto;
    padding-top: 60px;
    .main_title {
      text-align: center;
      padding: 20px 0 ;
    }
    .home_page {
      display: grid;
      grid-template-columns: 1fr 3fr;
      margin-top: 20px;
      @include tablet {
        display: flex;
        flex-direction: column;
      }
      .filter {
        @include tablet {
          margin: auto;
          padding: 0 0 40px;
          width: 50%;
        }
        @include tablet-sm {
          width: 90%;
        }
        .sort-none__control {
          opacity: 0.5;
          pointer-events: none;
        }
        .search_input {
          position: relative;
          input {
            border-radius: 5px;
            width: 96%;
            outline: none;
            min-height: 38px;
            background-color: hsl(0, 0%, 100%);
            border-color: hsl(0, 0%, 80%);
            border-width: 1px;
            margin:10px 0;
            padding-left:10px;
            @include tablet {
              width: 97%;
            }
          }
          .cross {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 5px;
            top: 35%;
            cursor: pointer;
          }
        }
        &_container {
          width: 90%;
          position: sticky;
          top: 62px;
        }
      }
      .movies {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        row-gap: 28px;
        @include tablet-pc {
          grid-template-columns: 1fr 1fr 1fr;
        }
        @include tablet-sm {
          grid-template-columns: 1fr 1fr;
        }
        @include mobile-medium {
          grid-template-columns: 1fr;
        }
        .star{
          height: 40px;
          width: 40px;
          background-color: #bbb;
          border-radius: 50%;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: -17px;
          z-index: 1;
        }

        .rating {
          overflow: hidden;
          white-space: nowrap;
        }

        .rating span{
          font-size:20px;
          white-space: nowrap;
          overflow: hidden;
          color: #1b1b1b;
          font-weight: bold;
        }

        .rating span:before {
          position: absolute;
        }
      }
    }
  }
  .movie_detail_page {
    .videos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      align-items: center;
      @include tablet-sm {
        iframe {
          max-width: 400px;
        }
      }
      @include mobile-large {
        width: 300px;
      }
      h1 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
      }
      iframe {
        border: 0px;
      }
    }
    .banner {
      height: 100vh;
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      &_container {
        margin: auto;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        &_info{
          display: flex;
          @include tablet-sm {
            flex-direction: column;
          }
          img {
            border-radius: 10px;
            @include tablet-sm {
              width: 150px;
              margin: auto;
            }
          }
          .text_info {
            margin-left:10px;
            max-width: 500px;
            .title {
              font-size: 40px;
              font-weight: bold;
              line-height: 40px;
              a {
                color: #fff;
                text-decoration: none;
              }
            }
            .overview {
              font-size: 15px;
            }
            .genres {
              ul {
                display: flex;
                margin:10px 0;
                li {
                  list-style: none;
                  padding:4px 10px;
                  margin-right: 5px;
                  border: 1px solid #fff;
                  border-radius: 20px;
                  font-size: 11px;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
      &> *:not(#element) {
        backdrop-filter: blur(0px);
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2px);
        box-shadow: inset 0px -125px 68px 0 #1b1b1b;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
      }
    }
  }
  .disable {
    opacity: .5;
    pointer-events: none;
  }
}
