@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: Nunito;
  letter-spacing: .7px;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(184, 29, 19);
  border-radius: 10px;
}

.white_theme {
  background: #fff;
  color: #1b1b1b;
}
.black_theme {
  background: #1b1b1b;
  color: #fff;
}

.App {
  min-height: 100vh;
  transition: 0.5s;
  .container {
    width: 1200px;
    margin: auto;
    padding-top: 10px;
    .home_page {
      display: grid;
      grid-template-columns: 1fr 3fr;
      margin-top: 20px;
      .filter {
        .search_input {
          input {
            border-radius: 5px;
            width: 96%;
            outline: none;
            min-height: 38px;
            background-color: hsl(0, 0%, 100%);
            border-color: hsl(0, 0%, 80%);
            border-width: 1px;
            margin:10px 0;
            padding-left:10px;
          }
        }
        &_container {
          width: 90%;
          position: sticky;
          top: 20px;
        }
      }
      .movies {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        row-gap: 28px;
        .star{
          height: 40px;
          width: 40px;
          background-color: #bbb;
          border-radius: 50%;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: -17px;
        }

        .rating {
          overflow: hidden;
          white-space: nowrap;
        }

        .rating span{
          font-size:20px;
          white-space: nowrap;
          overflow: hidden;
          color: #1b1b1b;
          font-weight: bold;
        }

        .rating span:before {
          position: absolute;
        }
        &-item {
          margin: auto;
          position: relative;
          a {
            text-decoration: none ;
          }
          img {
            border-radius: 10px;
          }
        }
      }
    }
  }
}
